$white-background: #ffffff99;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px;
$border-radius: 20px;
$text-color: #51e2f5;
$white-theme-color: #000;
$base-color: #6B7A8F;
$card-background: #51e2f575;
$active-color: #5167f5b5;